@font-face {
  font-family: "iconfont"; /* Project id 4514204 */
  src: url('iconfont.woff2?t=1713438543470') format('woff2'),
       url('iconfont.woff?t=1713438543470') format('woff'),
       url('iconfont.ttf?t=1713438543470') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-qingkong:before {
  content: "\e799";
}

.icon-qingchu:before {
  content: "\e609";
}

.icon-moban:before {
  content: "\e62d";
}

.icon-reset:before {
  content: "\e63a";
}

.icon-shengchengdaima-:before {
  content: "\e6ce";
}

.icon-weibiaoti46:before {
  content: "\e63c";
}

.icon-shengchengdaima:before {
  content: "\e6ff";
}

.icon-15qingkong-1:before {
  content: "\e680";
}

